<!--Footer-->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>About Me</h3>
          <p>My name is Khadija Sikander. I am 21 years old.  I love to read, write and paint in my free timem other than that I'm just binge watching kdramas/anime ! </p>
        </div>
        <div class="col-md-4">
          <h3>Contact Us</h3>
          <p>123 Main Street<br> Anytown, USA 12345<br> Email: khadijasikander02@gmail.com<br> Phone: (123) 456-7890</p>
        </div>
        <div class="col-md-4">
          <h3>Connect with Me</h3>
          <ul class="social">
            <li><a href="https://www.facebook.com/khadija.sikander.94/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/ink.lingss/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>