<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css">
    <title>Favourite Personalities</title>
<!--Custom CSS-->
    <link rel="stylesheet" href="style4.css">
</head>
<body>
  <%- include("partials/navbar.ejs") %>
<!--Headerr-->
    <div class="head">
        <div class="head-content"  >
            <h1>My</h1>
            <h1>Favourite</h1>
            <h1>Cities</h1>
        </div>
    </div>
<!--Tokyo-->
<div class="head1">
    <p style="font-size: 70px; font-weight: bolder; font-style: oblique;">Tokyo,Japan<p>
</div>
<div class="para1">
    <h2 style="font-weight: bold; padding-top: 50px;">Introduction</h2>
    <div class="in1">
        <p>Tokyo, formerly (until 1868) Edo, city and capital of Tokyo to (metropolis) and of Japan.</p>  
        <p>It is located at the head of Tokyo Bay on the Pacific coast of central Honshu. It is the focus of the vast metropolitan area often called Greater Tokyo, the largest urban and industrial agglomeration in Japan.</p>
        <p> The city is built on low, alluvial plains and adjacent upland hills. The climate is mild in winter and hot and humid in the summer.</p>
    <div>
</div>
<div class="para2">
    <h2 style="font-weight: bold; padding-top: 50px;">Facts</h2>
    <div class="in2">
        <p>Tokyo is home to the Tokyo Skytree, recognized by Guinness World Records as the world's largest tower. </p>  
        <p> The blooms of the cherry tree, known in Japan as sakura, have long been of immense symbolic importance to the nation, and the blossoming of cherry trees traditionally heralds the arrival of spring in Japan</p>
        <p> Tokyo hosted the Olympic Games in 1964; the 1964 Summer Games, which took place October 10–24, constituted the first time that the Olympic Games were hosted in Asia.</p>
    <div>
</div>
<div class="img1">
    <img src="images/img31.jpeg" alt="" style="margin-left: -60px; width: 400px;">
    <img src="images/img32.jpeg" alt="" style="width: 400px;">
    <img src="images/img33.jpg" alt="" style="height: 300px; width: 400px; margin-right: 100px;">
</div>
<iframe src="https://www.youtube.com/embed/a47YiUaRohw?autoplay=1" width="560" height="315" title="A YouTube video" frameborder="0" allowfullscreen></iframe>

<!--SEOUL-->

<div class="head2">
    <p style="font-size: 70px; font-weight: bolder; font-style: oblique; margin-left: 130px; margin-right: -40px; text-align: center;">Seoul,South Korea<p>
</div>
<div class="para3">
    <h2 style="font-weight: bold; padding-top: 50px;">Introduction</h2>
    <div class="in3">
        <p>Seoul, Korean Sŏul, formally Sŏul-t’ŭkpyŏlsi (“Special City of Seoul”), city and capital of South Korea (the Republic of Korea).</p>  
        <p>It is located on the Han River (Han-gang) in the northwestern part of the country, with the city centre some 37 miles (60 km) inland from the Yellow Sea (west). </p>
        <p> Seoul was founded as the capital of a unified nation in 1394 by Gen. Yi Sŏng-gye, the founder of the Chosŏn dynasty.</p>
    </div>
</div>    
<div class="para4">
    <h2 style="font-weight: bold; padding-top: 50px;">Facts</h2>
    <div class="in4">
        <p>Seoul is the country’s cultural centre. It is the home of the National Academy of Arts, the National Academy of Sciences, and nearly all of the country’s learned societies and libraries.</p>  
        <p>Surrounded by hills, Seoul has numerous small and large parks. Places of historical interest—including Ch’anggyŏng (Changgyeong), Kyŏngbok, Tŏksu (Deoksu), and Ch’angdŏk (Changdeok</p>
        <p> During the Korean War it was the capital of the U.S. military government and suffered extensive damage; it has been largely rebuilt since 1953.</p>
    </div>
</div>
<div class="img2">
    <img src="images/img34.jpg" alt="" style="margin-left: -60px; width: 400px;">
    <img src="images/img35.jpg" alt="" style="width: 400px;">
    <img src="images/img36.jpg" alt="" style="height: 300px; width: 400px; margin-right: 100px;">
</div>
<iframe src="https://www.youtube.com/embed/o70MzTHHNbI?autoplay=1" width="560" height="315" title="A YouTube video" frameborder="0" allowfullscreen></iframe>

<!--Santorini-->
<div class="head3">
  <p style="font-size: 70px; font-weight: bolder; font-style: oblique; margin-left: 130px; margin-right: -40px; text-align: center;">Santorini Island,Greece<p>
</div>
<div class="para5">
  <h2 style="font-weight: bold; padding-top: 50px;">Introduction</h2>
  <div class="in5">
      <p>Santorini, known since ancient times as Thira, is one of the most famous islands in the world. The fact that you can sit in front of the caldera, enjoy local dishes, a drink or a coffee while gazing at the remarkable beauty of an active volcano is priceless!</p>  
      <p>The island is actually a group of islands consisting of Thira, Thirassia, Aspronissi, Palea and Nea Kameni in the southernmost part of the Cyclades.
      </p>
      <p>Santorini’s volcano is one of the few active volcanoes on Greek and European land The islands that form Santorini came into existence as a result of intensive volcanic activity; twelve huge eruptions occurred, one every 20,000 years approximately, and each violent eruption caused the collapse of the volcano’s central part creating a large crater (caldera). The volcano, however, managed to recreate itself over and over again.</p>
  </div>
</div>    
<div class="para6">
  <h2 style="font-weight: bold; padding-top: 50px;">Facts</h2>
  <div class="in6">
      <p>Santorini is considered to be the most sought after place for a romantic getaway in Greece, since there are not many places in the world where you can enjoy exquisitely clear waters while perched on the rim of a massive active volcano in the middle of the sea! </p>  
      <p>The island has a growing reputation as a “wedding destination” for couples not only from Greece but from all over the world.</p>
      <p>Venture into Santorini’s seaside treasures and enjoy deep blue waters and beaches with white, red or black sand or volcanic pebbles, spectacular rock formations and impressive lunar landscapes.</p>
  </div>
</div>
<div class="img3">
  <img src="images/img37.jpg" alt="" style=" width: 400px;">
  <img src="images/img38.jpg" alt="" style="width: 400px;">
  <img src="images/img39.jpg" alt="" style="height: 300px; width: 400px; margin-right: 100px;">
</div>
<iframe src="https://www.youtube.com/embed/MQSBFftu6Rg?autoplay=1" width="560" height="315" title="A YouTube video" frameborder="0" allowfullscreen></iframe>

<!--Istanbul-->
<div class="head4">
  <p style="font-size: 70px; font-weight: bolder; font-style: oblique; margin-left: 130px; margin-right: -40px; text-align: center;">Istanbul,Turkey<p>
</div>
<div class="para7">
  <h2 style="font-weight: bold; padding-top: 50px;">Introduction</h2>
  <div class="in7">
      <p>The old walled city of Istanbul stands on a triangular peninsula between Europe and Asia.Sometimes as a bridge, sometimes as a barrier, Istanbul for more than 2,500 years has stood between conflicting surges of religion, culture, and imperial power. For most of those years it was one of the most coveted cities in the world.</p>  
      <p>The old city contains about 9 square miles (23 square km), but the present municipal boundaries stretch a great deal beyond.</p>
      <p>When the Turks took possession of Constantinople, they covered the spines of the seven hills with domes and minarets, changing the character of the city.The Grand Bazaar (Kapalı Çarşı), founded early in the Turkish regime but often subject to fire and earthquake, had 4,000 shops around two central distributing houses. </p>
  </div>
</div>    
<div class="para8">
  <h2 style="font-weight: bold; padding-top: 50px;">Facts</h2>
  <div class="in8">
      <p>Istanbul, like other major cities in the region, attracts an increasing number of migrants from the countryside. These migrants have contributed to the growth of shantytowns called gecekondu (literally “set down by night”) that have no sanitation facilities and limited access to power and water. </p>  
      <p>The Atatürk Cultural Center, situated in Taksim Square, is an important centre for the arts where opera, ballet, and theatre performances are staged. </p>
      <p>There are many public and private libraries. The small, specialized Köprülü Library (1677) has books from early Ottoman presses and handwritten works more than 1,000 years old. Many of the city’s mosques, palaces, and monuments, as mentioned earlier, contain museums.</p>
  </div>
</div>
<div class="img4">
  <img src="images/img40.jpg" alt="" style="margin-left: -60px; width: 400px;">
  <img src="images/img41.jpg" alt="" style="width: 400px;">
  <img src="images/img42.jpg" alt="" style="height: 300px; width: 400px; margin-right: 100px;">
</div>
<iframe src="https://www.youtube.com/embed/1L2PIyGczCA?autoplay=1" width="560" height="315" title="A YouTube video" frameborder="0" allowfullscreen></iframe>

<%- include("partials/footer.ejs") %>


    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>