<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css">
    <title>Favourite Tourists Spots</title>
<!--Custom CSS-->
    <link rel="stylesheet" href="style5.css">
</head>
<body>
  <%- include("partials/navbar.ejs") %>
<!--Header-->
<div id="carouselExampleAutoplaying" class="carouselslide" data-bs-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="images/img43.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <img src="images/img44.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <img src="images/img45.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <img src="images/img46.jpg" class="d-block w-100" alt="...">
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
</div>
<!--Hunza Valley-->
<div class="mainbox1" >
  <div class="cont">
      <h1 style="font-family: 'Abril Fatface', serif;font-size: 46px; padding-top: 50px; padding-bottom: 50px">HUNZA VALLEY, PAKISTAN</h1>
      <div class="inner-cont">
          <p>Nestled amidst Pakistan’s majestic Karakoram mountains, Hunza Valley is an enchanting paradise that will steal your heart. With its awe-inspiring natural beauty, crystal-clear rivers, and lush green fields, it’s a place straight out of a fairy tale. </p>
          <p>Known as “heaven on earth,” Hunza Valley is true to its reputation and is situated at an elevation of 2438 meters in the north of Gilgit Baltistan.</p>
          <p>Hunza Valley is mainly divided into three regions; Upper Hunza, Central Hunza, and Lower Hunza, which are further divided into multiple villages and towns. Historically, Hunza used to be a princely state and remained so until 1974.</p>
          <p>Hunza is a favorite natural attraction when it comes to traveling up North of Pakistan for a vast range of tourists, including trekkers, mountaineers, family vacations, or simply those looking to get away from the busy life and unwind in nature surrounded by beautiful landscapes.</p>
          <p>The Hunza temperature varies throughout the year, offering a diverse range of experiences. During the summer months (June to August), the weather remains pleasant, with average temperatures ranging from 20°C to even 30°C (68°F to 86°F).</p>
          <p></p>In contrast, winter (December to February) brings a chilly yet enchanting ambiance to Hunza Valley. The temperatures can drop from -10°C to -5°C, transforming the region into a winter wonderland. </p>
      </div>
  </div>
  <div class="imgs1">
    <img src="images/img47.jpg" alt="">
    <img src="images/img48.jpg" alt="">
    <img src="images/img49.jpg" alt="">
  </div>
</div>
<!--COLLOSEUM-->
<div class="mainbox2">
  <div class="cont1">
      <h1 style="font-family: 'Abril Fatface', serif;font-size: 46px; padding-top: 50px; padding-bottom: 50px">COLOSSEUM, GREECE</h1>
      <div class="inner-cont1">
          <p>Colosseum, also called Flavian Amphitheatre, giant amphitheatre built in Rome under the Flavian emperors. Construction of the Colosseum was begun sometime between 70 and 72 CE during the reign of Vespasian. It is located just east of the Palatine Hill, on the grounds of what was Nero’s Golden House.  </p>
          <p>The artificial lake that was the centrepiece of that palace complex was drained, and the Colosseum was sited there, a decision that was as much symbolic as it was practical. Vespasian, whose path to the throne had relatively humble beginnings, chose to replace the tyrannical emperor’s private lake with a public amphitheatre that could host tens of thousands of Romans. </p>
          <p>The Colosseum was built as part of an imperial effort to revitalize Rome after the tumultuous year of the four emperors, 69 CE. As with other amphitheatres, the emperor Vespasian intended the Colosseum to be an entertainment venue, hosting gladiator fights, animal hunts, and even mock naval battles.</p>
          <p> The Colosseum fell into serious disrepair after the fall of the Western Roman Empire. During the 12th century, the Frangipane and Annibaldi families repurposed the arena to function as their fortress. In the late 15th century, Pope Alexander VI permitted the Colosseum to be used as a quarry. After over a thousand years of neglect, state-funded restoration efforts began in the 1990s.</p>
          <p>As one of the few mostly intact structures from the Roman Empire, the Colosseum stands today as a monument to ancient Rome’s architectural and engineering prowess. It is also a major source of tourism revenue for the Italian government. In 2018 the Colosseum, Roman Forum, and Palatine Hill together brought in more than $63.3 million (€53.8 million), the highest revenue of any tourist attraction in Italy.</p>
      </div>
  </div>
  <div class="imgs2">
    <img src="images/img50.jpg" alt="">
    <img src="images/img51.jpg" alt="">
    <img src="images/img52.jpg" alt="">
  </div>
</div>


<!--HOBBITON-->
<div class="mainbox3">
  <div class="cont2">
      <h1 style="font-family: 'Abril Fatface', serif;font-size: 46px; padding-top: 50px; padding-bottom: 50px">HOBBITON, NEW ZEALAND</h1>
      <div class="inner-cont2">
          <p>The Hobbiton Movie Set is a significant location used for The Lord of the Rings film trilogy and The Hobbit film trilogy, serving as a stand-in for the town of Hobbiton in the Shire in both trilogies. It is situated on a family-run farm about 8 kilometres (5.0 mi) west of Hinuera and 10 kilometres (6.2 mi) southwest of Matamata, in Waikato, New Zealand, and is now a Tolkien tourism destination, offering a guided tour of the set.</p>
          <p> The geology of the area is that of the Hinuera Formation, a group of alluvial silts, sands and gravels laid down in the last glacial period.[2] Originally largely marshland, it was transformed in the 19th century by a large-scale drainage scheme and is now fertile agricultural land and a major racehorse breeding area.</p>
          <p>When Peter Jackson began to look for suitable locations for The Lord of the Rings film series,[5] he first saw the Alexander Farm during an aerial search[4] in 1998[6] and concluded that the area was "like a slice of ancient England".</p>
          <p> Set Decorator Alan Lee commented that the location's hills "looked as though Hobbits had already begun excavations".[7] Part of the site has a lake with a long arm that could double as a river.</p>
          <p>The original set was not built to last, the hobbit hole facades having been constructed from untreated timber, ply and polystyrene and partially torn down after filming.[8] In 2010, the set was rebuilt in a more permanent fashion for The Hobbit: An Unexpected Journey,[6][9] filming for which began in 2011.</p>
          <p>The hobbit holes on site have been designed and built to one of three different scales. In addition to the smallest ones built to the correct size (hobbits are smaller than humans), some are built to a larger scale to make the hobbit actors appear smaller, and some have been constructed in a "dwarf" scale for scenes containing dwarves. Apart from a few exceptions, the colour of the front door indicates the scale, for example hobbit holes with a blue door are built to the correct scale for humans.</p>
      </div>
  </div>
  <div class="imgs3">
    <img src="images/img53.jpg" alt="">
    <img src="images/img54.jpeg" alt="">
    <img src="images/img55.jpg" alt="">
  </div>
</div>
<!--TAJ MAHAL-->
<div class="mainbox4">
  <div class="cont3">
      <h1 style="font-family: 'Abril Fatface', serif;font-size: 46px; padding-top: 50px; padding-bottom: 50px">TAJ MAHAL, INDIA</h1>
      <div class="inner-cont3">
          <p>The Taj Mahal is a mausoleum complex in Agra, western Uttar Pradesh state, northern India. It is considered the finest example of Mughal architecture (a blend of Indian, Persian, and Islamic styles). The Taj Mahal is also one of the world’s most iconic monuments, visited by millions of tourists each year. The complex was designated a UNESCO World Heritage site in 1983.</p>
          <p> The Taj Mahal was built as a tomb for Mumtaz Mahal (“Chosen One of the Palace”) by her husband, the Mughal emperor Shah Jahān (reigned 1628–58). She died in childbirth in 1631, after having been the emperor’s inseparable companion since their marriage in 1612.</p>
          <p>The Taj Mahal is a mausoleum complex that houses the tombs of Mumtaz Mahal (“Chosen One of the Palace”) and her husband, the Mughal emperor Shah Jahān (reigned 1628–58).</p>
          <p>Building of the Taj Mahal began about 1632. The mausoleum itself was completed by about 1638–39. The adjunct buildings were finished by 1643, and decoration work continued until at least 1647. In total, construction of the 42-acre (17-hectare) complex spanned 22 years.</p>
          <p>The Taj Mahal is built of white marble that reflects hues according to the intensity of the sunlight or the moonlight.</p>
          <p>Over the centuries the Taj Mahal has been subject to neglect and decay. A major restoration was carried out at the beginning of the 20th century under the direction of Lord Curzon, then the British viceroy of India.</p>  
      </div>
  </div>
  <div class="imgs4">
    <img src="images/img56.jpg" alt="">
    <img src="images/img57.jpeg" alt="">
    <img src="images/img58.jpg" alt="">
  </div>
</div>

<%- include("partials/footer.ejs") %>


    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>